* {
	padding: 0;
	margin: 0;
}
body {
	background: #055;
}
#game{
margin: auto;
border:2px solid;
border-color:#fff;
width:400px;
}
#game h1{
text-align:center;
	color:#fff;
	
}
li {
	list-style: none;
}
td {
	height: 35px;
	width: 35px;
}
#table1ID {
	position: absolute;
	top: 100px;
	left: 100px;
}
#table2ID {
	position: absolute;
	top: 100px;
	right: 100px;
}
ul {

	position: absolute;
	bottom: 0px;
	left: 33px;
}
input {
	padding: 10px 15px;
}
#imgId{
	margin-top:8%;
	margin-left:27%;
	
}
#but {
	width: 80px;
	margin-top:5%;
	margin-left:47%;
}
