*{
padding:0;
margin:0;
}
body{
background:#FF9999;
}
img{
position:absolute;
top:700px;
right:0;
}
#inID{
margin-left:35%;
margin-top:150px;
}

#ulID{
margin-top:10px;
float:left;
width:100px;
}
select{
float:right;
margin-top:10px;
margin-right:10px;
}

